# Lab 8.01

## Instructions

Your product will take a song as an input from the user and will output another song (the recommendation). In most cases, the recommended song will have to be similar to the inputted song, but the CTO thinks that if the song is on the top charts at the moment, the user will enjoy more a recommendation of a song that's also popular at the moment.

You have find data on the internet about currently popular songs. Billboard maintains a weekly Top 100 of "hot" songs here: https://www.billboard.com/charts/hot-100.

It's a good place to start! Scrape the current top 100 songs and their respective artists, and put the information into a pandas dataframe.

In [68]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re

In [2]:
url = "https://www.billboard.com/charts/hot-100"
response = requests.get(url)
response.status_code

200

In [87]:
soup = BeautifulSoup(response.content, "html.parser")
#soup (checked)

In [93]:
song_name = soup.find_all('h3',{'class':re.compile('c-title a-no-trucate')})[0]
song_name.text.strip()

'First Class'

In [94]:
artist_name = soup.find_all('span',{'class':re.compile('c-label a-no-trucate')})[0]
artist_name.text.strip()

'Jack Harlow'

In [95]:
#apply in a loop and add to a list
song = []
artist = []
for i in range(100):
    
    song_name = soup.find_all('h3',{'class':re.compile('c-title a-no-trucate')})[i]
    song.append(song_name.text.strip())
    artist_name = soup.find_all('span',{'class':re.compile('c-label a-no-trucate')})[i]
    artist.append(artist_name.text.strip())

In [99]:
#check
print(song[0:5])
print(artist[0:5])

['First Class', 'As It Was', 'Heat Waves', 'Big Energy', 'Enemy']
['Jack Harlow', 'Harry Styles', 'Glass Animals', 'Latto', 'Imagine Dragons X JID']

In [106]:
top100 = pd.DataFrame({"Artists": artist, "Songs": song})

top100

                                        Artists            Songs
0                                   Jack Harlow      First Class
1                                  Harry Styles        As It Was
2                                 Glass Animals       Heat Waves
3                                         Latto       Big Energy
4                         Imagine Dragons X JID            Enemy
..                                          ...              ...
95                                   Lucky Daye             Over
96  Pusha T Featuring JAY-Z & Pharrell Williams     Neck & Wrist
97            Rauw Alejandro & Chencho Corleone     Desesperados
98                     Daddy Yankee & Bad Bunny     X Ultima Vez
99               BRELAND Featuring Thomas Rhett  Praise The Lord

[100 rows x 2 columns]